<!-- Contenido Principal -->
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="container-fluid">
        <!-- Ejemplo de tabla Listado -->
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Agencias
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalNuevo">
                            <i class="icon-plus"></i> &nbsp;Nueva
                        </button>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <select class="form-control col-md-3" id="opcion" name="opcion">
                                      <option value="nombre">Nombre</option>
                                      <option value="descripcion">Descripción</option>
                                    </select>
                            <input type="text" id="texto" name="texto" class="form-control" placeholder="Texto a buscar">
                            <button type="submit" class="btn btn-primary"> Buscar</button>

                        </div>
                    </div>
                </div>
                <!-- <div id="printSection" #printSection> -->
                <table id="printSection" #printSection class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Opciones</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfonos</th>
                            <th>Fecha Límite</th>
                            <th>Alcaldía</th>
                            <th>Actividad</th>
                            <th>Acrónimo</th>
                            <th>Habilitado</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let agency of agencyList">
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalNuevo" (click)="onEdit(agency)">
                                          <i class="icon-pencil"></i>
                                        </button> &nbsp;
                                <button type="submit" class="btn btn-danger btn-sm" (click)="onDelete(agency.$key)">
                                          <i class="icon-trash"></i>
                                        </button>
                            </td>
                            <td>{{ agency.name }}</td>
                            <td>{{ agency.address }} </td>
                            <td>{{ agency.phones}}</td>
                            <td>{{ agency.limitDate}}</td>
                            <td>{{ agency.townHall}}</td>
                            <td>{{ agency.activity}}</td>
                            <td>{{ agency.acronym}}</td>
                            <td [ngStyle]="{ 'color':agency.enabled==1 ? 'green' : 'red' }">{{ agency.enabled ==1 ? 'SI':'NO' }}

                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- </div> -->
                <button (click)="exportPDF()" class="btn btn-warning float-right">
                        <i class="fa fa-save"></i> Exportar    
                    </button>&nbsp; &nbsp;
                <button (click)="export()" class="btn btn-warning float-right">
                        <i class="fa fa-save"></i> Export    
                    </button>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">Ant</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Sig</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Fin ejemplo de tabla Listado -->
    </div>

</main>
<!-- /Fin del contenido principal -->

<app-modal></app-modal>